:root {
    --brand: #1f2937;
    --text: #4b5563;
    --text-light: #6b7280;
    
    --surface: #f3f4f6;
    --accent: #1e959c;
    --border-color: #e5e7eb;

    --gray-lightest: #f9fafb;

    --tw-border-opacity: 1;
    /*--family: "Inter", Times;*/
    --family: ui-sans-serif, "Sharp Sans", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --h1: 31px;
    --h2: 30px;
    --h3: 24px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;


    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;


    --xxsmall: 4px;
    --xsmall: 8px;
    --small: 12px;
    --medium: 16px;
    --large: 20px;
    --xlarge: 24px;
    --xxlarge: 32px;
    --xl1: 40px;
    --xl2: 60px;
    --xl3: 80px;
    --xl4: 100px;

    @media (max-width: 767px) {
        --xl1: 20px;
        --xl2: 40px;
        --xl3: 60px;
        --xl4: 80px;
        --h1: 24px;
        --h3: 20px;
        --h4: 20px;
        --h5: 16px;
        --h6: 14px;
    }
    

}

body,
input,
button,
textarea {
    font-family: var(--family);
}

body {
    margin: 0;
    background: var(--surface);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--family);
    color: var(--text);
    line-height: 1.5;
    font-size: 14px;
}

#root {
    
    position: relative;
    overflow: hidden;
}
.page {
    padding-top: 80px;
}
.page-container {
    max-width: 1180px !important;
    padding-left: 30px;
    width: 100%;
    padding-right: 30px;
    margin: 0 auto;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--brand);
    line-height: 1.2 !important;
    font-weight: 700 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    max-width: none !important;
}

h1,
.h1 {
    font-size: var(--h1) !important;
    line-height: 1.13 !important;
}

h2,
.h2 {
    font-size: var(--h2) !important;
    letter-spacing: .6px;

}

h3,
.h3 {
    font-size: var(--h3) !important;
    letter-spacing: .02em;

}

h4,
.h4 {
    font-size: var(--h4) !important;
}

h5,
.h5 {
    font-size: var(--h5) !important;
}

h6,
.h6 {
    font-size: var(--h6) !important;
}

@media (max-width: 767px) {
    .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .hide-desktop {
        display: none !important;
    }
}

.btn,
.upload-field [data-cy="uploadDropzone"]>button {
    -webkit-appearance: none;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    padding: 10px 20px 12px !important;
    height: auto !important;
    min-height: inherit !important;
    display: inline-block;
    vertical-align: top;
    max-width: 100% !important;
    font-weight: 600 !important;
    font-size: 17px !important;
    line-height: 21px !important;
    box-sizing: border-box !important;
    background: var(--accent) !important;
    color: #fff !important;
    letter-spacing: .03em !important;
    border-radius: 8px !important;
    min-width: 156px !important;
    cursor: pointer;
    outline: none !important;
    
    transition: all .2s ease-in-out !important;

    &:hover {
        opacity: .9;
    }

    @media (max-width: 1199px) {
        padding: 10px 15px !important;
        min-width: 140px !important;
        font-size: 15px !important;
        border-radius: 10px !important;
    }
    @media (max-width: 767px) {
        min-width: 100px !important;
        border-radius: 7px !important;
        font-size: 14px !important;
    }

    &.small {
        min-width: 100px !important;
         
    }
}

.btn-secondary {
    background: var(--brand) !important;
    color: #fff !important;
}



.header {
    height: 80px;
    background: var(--gray-lightest);
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    background: rgba(255, 255, 255, 0.8);
    --tw-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.page-header {
    position: relative;
    background: var(--surface);
    padding: var(--xxlarge) 0 var(--xl2);
    flex-shrink: 0;
    width: 100%;
}

.page-height-section {
    position: relative !important;
    min-height: calc(100vh - 80px) !important;
    display: flex !important;
    flex-flow: column nowrap !important;

}

.page-height-content {
    flex-grow: 1;
    overflow: hidden;
    padding: var(--xl1) 0;
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
}

.page-height-content-holder {
    width: 100%;
}

.upload-zone {
    position: relative;
    text-align: center;    
}

.upload-zone h3 {
    margin: 0 0 8px;
}

.upload-zone .img-holder {
    margin: 0 0 16px;
}

.upload-zone .img-holder img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.upload-field>div>div {
    padding: 0 !important;
    margin: 0 !important;
}

.upload-field [data-cy="uploadDropzone"] {
    border: 0;
    padding: 0;
    border-radius: 0;
    background: none;
    align-self: center;
    display: inline-flex;
    vertical-align: top;
    max-width: 100%;
    padding: 0;
    border: 0;
    /*
    background: var(--surface);
    border-radius: 8px;
    padding: 32px 24px;*/

}

/* Uplaoder Grid Styling */
.uploader-grid {
    grid-template-columns: repeat(6, 1fr) !important;
    grid-auto-rows: unset !important;
}

.uploader-grid .item-uploader {

    aspect-ratio: 1 / 1;
}

@media (max-width: 1199px) {
    .uploader-grid {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}

@media (max-width: 1023px) {
    .uploader-grid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 767px) {
    .uploader-grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 479px) {
    .uploader-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.textTools {
    color: #000;

    svg {
        fill: #000 !important;
        stroke: #000 !important;
    }
}



.print-quality {
    position: relative;
    width: 100%;

    .print-area {
        border: 1px solid rgb(228, 228, 228);

        background: #fff;
        padding: 0 16px;
        border-radius: 8px;
        position: relative;
        color: rgb(88, 88, 88);
        overflow: hidden;
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
    }

    .print-area-inner {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
        width: 40%;
    }

    .print-text {
        display: flex;
        min-height: 40px;
        align-items: center;
        justify-content: space-between;
    }
}

.photo-info {
    padding: 12px 16px;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    color: rgb(88, 88, 88);
    font-weight: 600;

    .info-item {
        display: flex;
        align-items: center;
        padding: 4px 0;

        span:first-child {
            flex-grow: 1;
            overflow: hidden;
        }

        span:last-child {
            flex-shrink: 0;
            margin-left: 8px;
        }

    }
}

.input-range {
    position: relative;
    margin: 16px 0 0;
    padding: 0 16px;

    span {
        display: block;
        font-weight: 600;
        margin: 0 0 8px;
        font-size: 12px;
        letter-spacing: .25px;
    }
}

.btnsListing {
    position: relative;
    padding: 20px 16px 30px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;

    li {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        min-width: 20%;
    }

    .btnListItem {
        border: 1px solid #585858;
        background: none;
        border-radius: 6px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        gap: 4px;
        padding: 10px 4px;
        font-size: 13px;
        line-height: 1.5;
        text-align: center;
        font-weight: 600;

        svg {
            display: block;
            max-width: 100%;
        }
    }
}

.logo-button {
    background: none !important;
    color: var(--brand) !important;
    opacity: 1 !important;
}