:root {
    --brand: #2e2e2e;
    --text: #585858;
    --surface: #f9f9f9;
    /*--family: "Inter", Times;*/
    --family: -apple-system, BlinkMacSystemFont, SFUI, HelveticaNeue, Helvetica, Arial, sans-serif;
    --h1: 44px;
    --h2: 30px;
    --h3: 24px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;
    --s32: 32px;
    --s64: 64px;

    @media (max-width: 767px) {
        --s32: 16px;
        --s64: 32px;
        --h1: 28px;
        --h2: 24px;
        --h3: 20px;
        --h4: 18px;
        --h5: 16px;
        --h6: 14px;
    }

}

body {
    margin: 0;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--family);
    color: var(--text);
    line-height: 1.57;
}


.page-container {
    max-width: 1280px !important;
    padding-left: 32px;
    width: 100%;
    padding-right: 32px;
    margin: 0 auto;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--brand);
    font-family: "Sharp Sans", serif;
    line-height: 1.2 !important;
    font-weight: 700 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    max-width: none !important;
}

h1,
.h1 {
    font-size: var(--h1) !important;
}

h2,
.h2 {
    font-size: var(--h2) !important;
    letter-spacing: .6px;

}

h3,
.h3 {
    font-size: var(--h3) !important;
    letter-spacing: .02em;

}

@media (max-width: 767px) {
    .hide-mobile {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .hide-desktop {
        display: none !important;
    }
}

.header {
    height: 80px;
}

.page-header {
    position: relative;
    background: var(--surface);
    padding: var(--s32) 0 var(--s64);
    flex-shrink: 0;
    width: 100%;
}

.page-height-section {
    position: relative;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-flow: column nowrap;
}

.page-height-content {
    flex-grow: 1;
    overflow: hidden;
    padding: var(--s64) 0;
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
}

.page-height-content-holder {
    width: 100%;
}

.upload-zone {
    position: relative;
    text-align: center;
}

.upload-zone h3 {
    margin: 0 0 8px;
}

.upload-zone .img-holder {
    margin: 0 0 16px;
}

.upload-zone .img-holder img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.upload-field [data-cy="uploadDropzone"] {
    border: 0;
    padding: 0;
    border-radius: 0;
    background: var(--surface);
    border-radius: 8px;
}

/* Uplaoder Grid Styling */
.uploader-grid {
    grid-template-columns: repeat(6, 1fr) !important;
    grid-auto-rows: unset !important;
}

.uploader-grid .item-uploader {

    aspect-ratio: 1 / 1;
}

@media (max-width: 1199px) {
    .uploader-grid {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}

@media (max-width: 1023px) {
    .uploader-grid {
        grid-template-columns: repeat(4, 1fr) !important;
    }
}

@media (max-width: 767px) {
    .uploader-grid {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
@media (max-width: 479px) {
    .uploader-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

