:root {
    --primary: #2e2e2e;
    --text: #585858;
    --gray-light: #f9f9f9;
    /*--family: "Inter", Times;*/
    --family: -apple-system, BlinkMacSystemFont, SFUI, HelveticaNeue, Helvetica, Arial, sans-serif;
    --h1: 44px;
    --h2: 30px;
    --h3: 24px;
    --h4: 20px;
    --h5: 18px;
    --h6: 16px;
    --s32: 32px;
    --s64: 64px;

    @media (max-width: 767px) {
        --s32: 16px;
        --s64: 32px;
        --h1: 28px;
        --h2: 24px;
        --h3: 22px;
        --h4: 18px;
        --h5: 16px;
        --h6: 14px;
    }

}

body {
    margin: 0;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--family);
    color: var(--text);
    line-height: 1.57;
}


.page-container {
    max-width: 1280px !important;
    padding-left: 32px;
    width: 100%;
    padding-right: 32px;
    margin: 0 auto;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary);
    font-family: "Sharp Sans", serif;
    line-height: 1.2 !important;
    font-weight: 700 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;    
    max-width: none !important;
}

h1,
.h1 {
    font-size: var(--h1) !important;
}

h2,
.h2 {
    font-size: var(--h2) !important;
    letter-spacing: .6px;

}

.header {
    height: 80px;
}

.page-header {
    position: relative;
    background: var(--gray-light);
    padding: var(--s32) 0 var(--s64);
    flex-shrink: 0;
    width: 100%;
}

.page-height-section {
    position: relative;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-flow: column nowrap;
}
.page-height-content {
    flex-grow: 1;
    overflow: hidden;
    padding: var(--s64) 0;
    display: flex;
    align-items: center;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: center;
}
.page-height-content-holder {
    width: 100%;
}